.text-one {
  font-size: 15px;
  color: var(--black-color);
  color: #b5eadb;
}
.text-two {
  color: var(--black-color);
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.text-three {
  font-size: 40px;
  margin: 5px 0;
  color: var(--primary-color);
}
@font-face { 
  font-family:"Helvetica Now Display DW";
  font-weight:500;
  font-style:normal;
  src:url('https://watracz.com/assets/fonts/webfonts/3AAC62_2_0.eot');
  src:url('https://watracz.com/assets/fonts/webfonts/3AAC62_2_0.eot?#iefix') format('embedded-opentype'), url('https://watracz.com/assets/fonts/https://watracz.com/assets/fonts/webfonts/3AAC62_2_0.woff2') format('woff2'), url('https://watracz.com/assets/fonts/webfonts/3AAC62_2_0.ttf') format('truetype'), url('https://watracz.com/assets/fonts/webfonts/3AAC62_2_0.svg#wf') format('svg');
} 
.text-four {
  font-size:30px;
  color: #fd8e32;
}

.heading {
  color: black;
  
  font-size: 40px;
  font-weight: 800;
  line-height: 72px;
  margin: 0 0 24px;
  text-align: center;
  text-transform: uppercase;
}
