.App {
  text-align: center;
  display: flex;
}

body {
  background-color:#eaffd0;
}
 
.cardHolder {
  display: flex;
  flex-direction: column;
  height: 1000px;
  width: 30%;
}
.content {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  border: 1px solid red;
}