@import-normalize;
.App {
  display: flex;
}

body {
  background-color: #eaffd0;
  background-color: #121212;
}
.selector {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.content {
  display: flex;
  flex-direction: row;
  width: 55vw;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20vh;
}

.leftsidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5vw;
  height: 93vh;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 0px solid red;
}
.dot {
  height: 7px;
  width: 7px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin: 9px;
}
.vl {
  border-left: 2px solid white;
  height: 16vh;

  display: inline-block;
}
.sbtop {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sbbottom {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sidetextl {
  padding-bottom: 1.6vw;
  writing-mode: vertical-rl; /**makes writing vertical**/
  text-orientation: mixed; /**orients text sideways**/
  -webkit-transform: rotate(180deg);
  font-family: "Palanquin Dark", sans-serif;
  text-align: center;
  color: white;
}
.right-section {
  display: flex;
  flex-direction: column;
  width: 40vw;
}
.model {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0px solid red;
}

.cardHolder {
  position: relative;
  height: 20vh;
  width: 100%;
  border: 0px solid red;
}

hr {
  width: 15%;
  height: 10px;
  margin: 5px;
  margin-left: 70px;
  background-color: #fc4422;
  border: 0px;
}
.topbar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.contact {
  color: #ffc8ba;
  border: 1.1px solid #ffc8ba;
  border-radius: 4px;
  width: 80px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.panel {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 60vh;  
  border: 1px solid white;
  border-radius: 7px;
  padding: 20px;
  background-color: rgb(7, 7, 27);
}
#rotateDiv {
  transform: rotateY(10deg);

}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.about-content{
  display: flex;
  flex-direction: row;
  background-color: red;
  width: 100%;
  height: 100%;
}
.inner {
  width: 60%
}
.photo {
  width: 40%;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
}
.skill-item {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-size: 15px;
    color: white;
}
.projection {
  /* position: relative; */
  position:fixed;
}
.holo-projector{
  position: absolute;
  width: 40vw;
  
}
.holo-model{
  width: 40vw;
  position: absolute;
}